* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


/* banner section */
.banner-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(229, 84, 115, 0.10);

}

.banner-text {
    margin: 190px 100px 150px 150px;
}

.flower-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-right: 140px;
}


.written-section {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0px;
}

.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

/* Featured Section */

.featured-section {

    margin: 20px 200px;
}

.featured-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}


.featured-text {
    text-align: center;
    margin-top: 100px;
}

.heading-h2 {

    margin-bottom: 20px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.fearured-images-text {
    text-decoration: underline;
}

.featured-images-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.featured-images-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.featured-images-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.featured-images h2 {
    text-align: center;
    margin-top: 20px;
}


/* icon section---------------------------
------------------------------------------
-----------------------------------------
----------------------------------------- */

.icon-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
}

.icon-section img {
    align-items: center;
    margin-left: 120px;
}

.icon-description {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;

    /* 145.833% */
}

.dec-align {
    margin-left: 67px;
}

/* sign-up section------------------------
-----------------------------------------
-------------------------------------------
-------------------------------------------------
 */
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.btn-signup {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border-color: none;
    background: #E55473;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.off-section {
    color: #E55473;
}

.sign-up-heading {
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}

.sign-up-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up-img {
    margin: 100px;
}

.sign-up-writting {
    margin-left: 250px;
    max-width: 500px;
}

/* instragram-section ------------------------
--------------------------------------------------
---------------------------------------------------
----------------------------------------------------*/

.instagram-section-img {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.instagram-writing {

    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}

.instagram-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

    margin-top: 30px;
}

.img-size-instra {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.instragam-input-section {

    margin: 0 200px;
}


/* input section -------------------------
----------------------------------------------
-------------------------------------------------
----------------------------------------------------*/

.input-background {
    background-image: url("../images/Rectangle\ 9.png");
    width: 1400px;
    height: 350px;
    flex-shrink: 0;
    margin: 100px 100px;
}

.input-details {

    text-align: center;
    align-items: center;
    padding-top: 100px;
}

.get-details {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.input-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.inut-text {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-button {

    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-subscribe {
    padding-top: 50px;
}


/* flower card section>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.flower-card {
    margin: 0 200px;

}


.cats-picture {
    display: flex;
    box-shadow: #272727;
    border-radius: 10px solid;
    justify-content: space-between;

}

.cats-picture img {
    height: 350px;
    width: 350px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);


}

.cats-picture img:hover {
    box-shadow: 10px 10px 15px rgb(117, 146, 117);
}

.flower-card-text {

    text-align: center;
}

.discount-flower {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    margin-bottom: 40px;
    /* 166.667% */
}

.purches {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}


.Expire-date {
    color: #e33100;
    margin: 10px;
}

.placeholder {
    margin-top: 2px;
    height: 30px;
    width: 350px;
    border-radius: 70px rgb(125, 122, 122);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cats-picture h3 {
    text-align: center;
}



/* footer section --------------------
----------------------------------------
------------------------------------------
-----------------------------------------------
*/
.footer {
    background: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    margin-top: 100px;

}

.footer-flower-shop {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 150px;
}

.flower-color {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 20px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}